/* START AutoPreFixer For FlexBox */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}

/* END AutoPreFixer For FlexBox */

* {
  box-sizing: border-box;
}

body, html {
  font-family:  Roboto;
  height: 100%;
  background-image: url("../images/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 110px; }

.flex-container > div.left {
  background-color: #013242;
  color: black;
  width: 24%;
  height: 450px;
  border-radius: 10px 0px 0px 10px;
  padding: 28px;

}

.flex-container > div.right {
  background-color: #ffffff;
  color: black;
  width: 24%;
  height: 450px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid lightgray;
  padding: 28px;
}
 .flex-container > div.left > img {
  width: 380px;
  height: auto;
  margin-top: -139px;
  margin-left: -46px;

  }

   .flex-container > div.left > p {
    text-align: center;
    margin-top: -10px;
    font-size: 15px;
    font-weight: 100;
    color: #86bfd3;
  }
   .flex-container > div.left > h1 {
    text-align: center;
    color: #ffffff;
    font-size: 26px;
  }

.flex-container > div.right > h1 {
    font-size: 26px;
    margin: 11px 15px;
  }
  

  input[type=text], input[type=password] {
  width: 100%;
    padding: 14px 10px;
    margin: 14px 0;
    display: inline-block;
    border: 1px solid #bcbcbc;
    border-radius: 7px;
    box-sizing: border-box;
  }
  .form {
  margin: 20px;
}


  .button {
    width: 100%;
    padding: 14px 10px;
    margin: 30px 0px;
    background-color: #013242;
    border: 0px solid;
    border-radius: 7px;
    color: #ffffff;
    font-size: 17px;
    transition: all 0.5s;
  cursor: pointer;
    
    
  }

 
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

  /* PLACEHOLDER COLOR */
  ::placeholder {
  color: #bcbcbc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #bcbcbc;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #bcbcbc;
}

.hyperlink {
  color: #013242;
  font-weight: bold;
  display: inline-grid;
  padding-left: 24px;

}
a {
  color: #4e4e4e;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-grid;
}
@media only screen and (max-width: 400px) {
     .flex-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 10px; }

     body, html {
     overflow-y: visible !important;
     overflow-x: visible !important; 
}

  .flex-container > div.right  {
    width: 100%;
    margin: 0px;
  }
   .flex-container > div.left {
    width: 100%;
    margin: 0px;
}
}
@media only screen and (min-width: 992px) {
  .flex-container > div.right  {
    width: 24%;
  }
   .flex-container > div.left {
    width: 24%;
}
}
