* {
  box-sizing: border-box;
}

body, html {
  font-family:	Roboto;
  height: 100%;
  background-image: url("../images/Background.png");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
	width: 46%;
    height: 63%;
    position: relative;
    margin-left: 50px;
}
	

.child {
	position: relative;
    top: 45%;
    left: 50%;
    margin: -55px 0px 0px 0px;
}

.right {
	background-color: #ffffff;
	width: 50%;
	height: 100%;
	float: right;
	border-radius: 0 10px 10px 0;
	border: 1px solid #bcbcbc;
	padding: 0px 30px 0 30px;

}

.left {
	background-color: #013242;
	width: 50%;
	height: 100%;
	float: left;
	border-radius:  10px 0  0 10px;
}

.text {
	text-align: center;
	margin-top: 40px;

}
.explain {
	text-align: center;
	font-size: 1.1rem;
	margin-top: 30px;

}


.text2 {
	margin-top: 40px;
    padding-left: 20px;
    color: #023141;
}
.form {
	margin: 20px;
}

input[type=text], input[type=password] {
 	width: 100%;
    padding: 14px 10px;
    margin: 14px 0;
    display: inline-block;
    border: 1px solid #bcbcbc;
    border-radius: 7px;
    box-sizing: border-box;
  }

  .mobile {
	width: 360px;
    height: auto;
    margin-top: -123px;
    margin-left: -18px;
  }

  .button {
  	width: 100%;
    padding: 14px 10px;
    margin: 18px 0px;
    background-color: #013242;
    border: 0px solid;
    border-radius: 7px;
    color: #ffffff;
   	font-size: 17px;
   	transition: all 0.5s;
	cursor: pointer;
   	
   	
  }

 
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

  /* PLACEHOLDER COLOR */
  ::placeholder {
  color: #bcbcbc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #bcbcbc;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #bcbcbc;
}

.hyperlink {
	color: #013242;
	font-weight: bold;

}

a {
	color: #4e4e4e;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}
}